---
layout: page
permalink: /categories/
title: Posts by category
---

Search blog posts by type:

<h3>Note</h3>

{% for post in site.categories.Note %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Puzzle</h3>

{% for post in site.categories.Puzzle %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

Search blog posts by Topic:

<h3>Algorithms</h3>

{% for post in site.categories.Algorithms %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
