---
layout: page
permalink: /categories/
title: Posts by category
---

<h2>Search by topic:<h2>

<h3>Algorithms</h3>

{% for post in site.categories.Algorithms %}
 <li><span>{{date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

 <h3>Complexity Theory</h3>

{% for post in site.categories.ComplexityTheory %}
 <li><span>{{date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

 <h3>Quantum Computing</h3>

{% for post in site.categories.QuantumComputing %}
 <li><span>{{date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h2>Search by type:<h2>

<h3>Note</h3>

{% for post in site.categories.Note %}
 <li><span>{{date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}

<h3>Puzzle</h3>

{% for post in site.categories.Puzzle %}
 <li><span>{{date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
