/* dark-theme.css */

body {
  background-color: #2e2e2e;
  color: #e0e0e0;
}

a {
  color: #bb86fc;
}

nav, footer {
  background-color: #2e2e2e;
}

/* Add more styles to adjust all elements for dark mode */

body {
  background-color: #2e2e2e;
  color: #d4d4d4;
}

.hint-box {
  margin-bottom: 20px;
  border: 1px solid #00529B
  border-radius: 4px;
  padding: 0;
}

.hint-box-header {
  padding: 15px;
  cursor: pointer;
  color: #d4d4d4;
  border-radius: 4px;
  border: 1px solid #00529B; /* Border color without solid background */
}

.hint-box-content {
  padding: 15px;
  display: none;
  color: #d4d4d4;
  border: 1px solid #00529B;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.hint-box.info .hint-box-header {
  border-color: #00529B;
}

.hint-box.warning .hint-box-header {
  border-color: #FFA500;
}

.hint-box.danger .hint-box-header {
  border-color: #D8000C;
}

.hint-box.success .hint-box-header {
  border-color: #4BB543;
}


